 *{
 box-sizing: border-box;
 }

			header {
				height: 190px;
				background: linear-gradient(to right, #6190E8, #A7BFE8);       
			}
	
			.use_list p {
                position: relative;
                top: 20px;
                left: 30px;
            }

            .use {
                list-style-type: none;
                display: flex;
                flex-direction: row;
            }

            .use li {
                position: relative;
                top: -90px;
                left: 1560px;
                margin-right: 28px;
                text-align: center;
                font-size: 13px;
            }

            .use p {
                position: relative;
                left: 10px;
                top: 10px;
                font-size: 10px;
                margin-right: 10px;
            }

            .logo {
                width: 150px;
                height: auto; 
                margin-top: 0px;
                margin-left: 0px;
            }
            .logout{
                width: 42px;
                height: auto;
                position: relative;
                top: 0px;
                left: 0px;
            }
            .user{
                width: 42px;
                height: auto;
                position: relative;
                top: 0px;
                left: 0px;
            }
            .like{
                width: 42px;
                height: auto;
                position: relative;
                top: 0px;
                left: 0px;
            }
            .mypage {
                position: relative;
                left: -98px;
                font-size: 33px;
                width: 137%;
                
            }

            .mypage img {
                position: relative;
                left: 5px;
                top: 4px;
                width: 46px;
                height: auto;
                
                

            }